!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BIA
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    \.navbar.navbar-fixed-top
    \.navbar-inner
    \.container
    \%button.btn.btn-navbar{"data-target" =&gt; ".nav-collapse", "data-toggle" =&gt; "collapse", :type =&gt; "button"}
    \%span.icon-bar
    \%span.icon-bar
    \%span.icon-bar
    \%a.brand{:href =&gt; root_url}
    brand
    \.nav-collapse.collapse
    \%ul.nav.pull-right
    \%li
    \= link_to t('Contact'), "todo"
    = yield
